<div class="contariner">
  <h1 class="text-center">{{title}}</h1>
  <hr/>
  <div class="row">
    <div class="col-md-2">
      <button routerLink="/home" class="btn btn-default">Home</button>
    </div>
    <div class="col-md-2">
      <!-- <button routerLink="/login" class="btn btn-danger">Login</button> -->
      <ng-template #greetvcr>

      </ng-template>
    </div>
    <div class="col-md-2">
      <button routerLink="/signup" class="btn btn-info">Signup</button>
    </div>
    <div class="col-md-2">
      <button routerLink="/orders" class="btn btn-info">Orders</button>
    </div>
    <div class="col-md-2">
      <button routerLink="/customers" class="btn btn-info">Customers</button>
    </div>
    <div class="col-md-2">
      <button routerLink="/orders/add" class="btn btn-info">Add Order</button>
    </div>
  </div>

  <router-outlet></router-outlet>

  <button (click)="loadGreet()">Load Greet</button>
</div>

